<div style="text-align:center" class="container">
  <button class="btn btn--all btn--label" type="button" [ngClass]="{'selected': filter.all || isFilterFalsy}" (click)="updateAll()">All</button>
  <button *ngFor="let option of filter.mainFilter.options; let i = index" class="btn btn--sized btn--label" type="button" [ngClass]="{'selected': option.value}" (click)="updateFilter('mainFilter', i)">{{option.label}} <span class="price plus">{{option.price}}</span></button>
  <app-dropdown-filter [filter]="filter.moreFilter"
                       [isMoreFilterFalsy]="isMoreFilterFalsy"
                       (updateMoreButtonEvent)="updateMoreButton()"
                       (resetMoreFilterEvent)="resetMoreFilter()"
                       (updateFilterEvent)="updateFilter($event.filterName, $event.index)"
  >
  </app-dropdown-filter>
</div>
