<div style="text-align:center" class="container">
  <button class="btn btn--all label" type="button" [ngClass]="{'selected': filter.all}" (click)="updateAll()">All</button>
  <button class="btn btn--sized label" type="button" [ngClass]="{'selected': filter.small}" (click)="updateFilter('small')">Small <span class="price">$422+</span></button>
  <button class="btn btn--sized label" type="button" [ngClass]="{'selected': filter.medium}" (click)="updateFilter('medium')">Medium <span class="price">$433+</span></button>
  <button class="btn btn--sized label" type="button" [ngClass]="{'selected': filter.large}" (click)="updateFilter('large')">Large <span class="price">$456+</span></button>
  <button class="btn btn--sized label" type="button" [ngClass]="{'selected': filter.suv}" (click)="updateFilter('suv')">SUV <span class="price">$525+</span></button>
  <button class="btn btn--sized label" type="button" [ngClass]="{'selected': filter.van}" (click)="updateFilter('van')">Van <span class="price">$649+</span></button>
  <button #dropdownButton class="btn btn--more dropdown-btn" type="button" (click)="updateFilter('more')">
    <div class="label-more">More</div>
    <div class="icon">
      <div class="chevron" [ngClass]="{'open': filter.more.value}"></div>
    </div>
  </button>
  <div #dropdown [ngClass]="{'open': filter.more.value}" style="top: 40px; right: 417px; position: absolute;" class="dropdown">
    <div class="dropdown--content">
      <li class="dropdown--element" *ngFor="let option of filter.more.options; let i = index" (click)="updateFilter(i, true)">
        <label for="moreOption{{i}}">
          <input id="moreOption{{i}}" type="checkbox" value="i" [checked]="option.value">{{option.label}}
        </label>
      </li>
    </div>
  </div>
</div>
